<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> My Cart </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">My Cart</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item *ngFor="let product of products">
      <ion-label> {{product.name}} x {{product.cart}} </ion-label>
      <ion-text> subtotal: ${{product.cart * product.price}} </ion-text>
    </ion-item>
    <ion-item>
      <ion-label> </ion-label>
      <ion-text> total: ${{total}} </ion-text>
    </ion-item>
  </ion-list>
</ion-content>
