<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Hot Products</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Hot Products</ion-title>
    </ion-toolbar>
  </ion-header>

  <p class='ion-padding-horizontal'>
    Welcome back, {{username}}
  </p>

  <ion-list>
    <ion-card *ngFor="let product of products">
        <ion-row>
          <ion-col size='auto'>
            <div class='image-container'>
              <img [src]="product.image" />
            </div>
          </ion-col>
          <ion-col class="ion-text-end">
            <h2 class='product-title'>{{product.name}}</h2>
            <ion-button size="small" (click)="addToCart(product)">
              <ion-icon name="cart"></ion-icon>
              &nbsp;
              {{product.cart}}
            </ion-button>
          </ion-col>
        </ion-row>
    </ion-card>
  </ion-list>
</ion-content>
